.portrait {
    height: 50vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 3%;
}

.portrait-border {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 16px;
    border: solid 3px;
    box-shadow: 0 0 4px #fff, 0 0 8px #fff;
    box-shadow: inset 0 0 8px #fff, 0 0 12px #fff;
}

.portrait-border img {
    height: 100%;
    align-self: center;
    border-radius: 20px;
    padding: 4%;
}