.portrait {
    height: 50vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 3%;
}

.portrait-border {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    border: solid 1px;
    border-color:  hsl(60, 7%, 16%);
    background-color: hsl(60, 7%, 11%);
}

.portrait-border img {
    height: 100%;
    align-self: center;
    border-radius: 20px;
    padding: 8px;
}