/* ----------------------------------------------------------- */
/* GLOBAL STYLES                                               */
/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Tilt Neon", sans-serif;
    align-items: center;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    position: sticky;
    background-color: #000;
    color: #fff;
    border-radius: 100pt;
    width: fit-content;
    margin-bottom: 10px;
    margin: 0 auto;
    bottom: 0;
    text-shadow: 0 0 2px #fff, 0 0 4px #fff;
}
