/* ----------------------------------------------------------- */
/* GLOBAL STYLES                                               */
/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: hsl(60, 7%, 6%);
    color: #fff;
    font-family: "Google Sans Code", monotype;
    align-items: center;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 8px;
    font-size: 10px;
    position: sticky;
    background-color: hsla(60, 7%, 6%, 0.8);
    color: hsl(60, 7%, 70%);
    border-radius: 100pt;
    width: fit-content;
    margin: 0 auto;
    margin-top: 70px;
    bottom: 1vh;
}

