/* ----------------------------------------------------------- */
/* HEADER + NAVIGATION                                         */
/* ----------------------------------------------------------- */

header {
    background: linear-gradient(hsl(60, 7%, 6%), hsla(60, 7%, 6%, 0.5), hsla(60, 7%, 6%, 0.15), transparent);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: #FFFFE6;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}

/* Menu */
.menu {
    justify-self: start;
    display: flex;
    list-style: none;
    gap: 2vw;
    padding: 2vh 0;
}

.menu a {
    background-color: hsl(60, 7%, 6%, 0.9);
    border: solid 1px;
    border-color: hsl(60, 7%, 16%);
    padding: 10px 20px;
    border-radius: 100px;
}

.menu a:hover {
    background-color: hsla(60, 7%, 11%, 0.9);
}

.menu #activesite {
    background-color: hsla(60, 7%, 16%, 0.9);
}

/* Logo */
.logo a {
    justify-self: center;
    font-family: "Lacquer", system-ui;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    overflow: visible;
    padding: 0;
    color: hsl(60, 100%, 98%);
    text-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
    border-radius: 100px;
    transition: 1s ease all;
    /* text-shadow: 
        0 0 4px #fff, 0 0 6px #fff,
        0 0 8px red, 0 0 10px red,
        0 0 12px red, 0 0 14px red,
        0 0 16px red; */
}

.logo a:hover {
    text-shadow: 1px 1px 1px hsl(0, 100%, 50%, 1);
}

/* Right links */
.links {
    justify-self: end;
    display: flex;
    list-style: none;
    gap: 2vw;
    padding: 2vh 0;
}

.links a {
    background-color: hsl(60, 7%, 6%, 0.9);
    border: solid 1px;
    border-color: hsl(60, 7%, 16%);
    padding: 10px 20px;
    border-radius: 100px;
}

.links a:hover {
    background-color: hsla(60, 7%, 11%, 0.9);
}


/* ----------------------------------------------------------- */
/* BURGER MENU                                                 */
/* ----------------------------------------------------------- */

.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    background-color: hsla(60, 7%, 6%, 0.9);
    border: none;
    cursor: pointer;
    padding: 18px 15px;
    border-radius: 100px;
    border: solid 1px;
    border-color: hsl(60, 7%, 16%);
    z-index: 1100;
}

.burger span {
    width: 24px;
    height: 2px;
    background: hsl(60, 100%, 95%);
    transition: 0.3s;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 900;
}

.mobile-menu a {
    color: hsl(60, 100%, 95%);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background-color: hsl(60, 7%, 6%, 0.95);
    padding: 10px 20px;
    border-radius: 100px;
    border: solid 1px;
    border-color: hsl(60, 7%, 16%);
    margin: 0 30vw;
}

.mobile-menu.open {
    display: flex;
}


/* ----------------------------------------------------------- */
/* RESPONSIVE HEADER                                           */
/* ----------------------------------------------------------- */

@media (max-width: 900px) {

    .menu,
    .links {
        display: none;
    }

    .burger {
        display: flex;
        justify-self: end;
        margin-top: 1vh;
    }

    .nav {
        grid-template-columns: 1fr auto auto;
        width: 95%;
    }

    .logo {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .logo {
        font-size: 28px;
        margin-top: 1vh;
    }

    .burger {
        margin-top: 1vh;
    }
}

/* Burger animation */
.burger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
