/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: workbench, sans-serif;
    cursor: pointer;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    background-image: url('assets/EmbraceChaos.png');
    background-size: 75% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    color: #ffffff;
    line-height: 1;
    position: relative; /* required for overlay stacking */
}

@media (min-width: 1120px) {
    body {
        background-size: 65%
    }
}

@media (min-width: 1320px) {
    body {
        background-size: 55%
    }
}

@media (min-width: 1550px) {
    body {
        background-size: 45%
    }
}

/* Blurred overlay on top of background */
.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    pointer-events: none;
    z-index: 1;
}


/* Content sits above the blur overlay */
.content-wrapper {
    position: relative;
    z-index: 2;
}


/* Navigation */
.header {
    color: #000;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3%;
    z-index: 1000;
}

.nav {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}


/* Sections */
.section {
    width: 70%;
    margin: 50px auto;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.project {
    padding: 15px 0;
}


@media (min-width: 1120px) {
    .section {
        max-width: 60%
    }
}

@media (min-width: 1320px) {
    .section {
        max-width: 50%
    }
}

@media (min-width: 1550px) {
    .section {
        max-width: 40%
    }
}


/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    color: #000;
    margin-top: 40px;
}
