/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background: rgb(233, 33, 40);
    color: rgb(250, 250, 249);
}
*::-moz-selection {
    background: rgb(233, 33, 40);
    color: rgb(250, 250, 249);
}
*::-webkit-selection {
    background: rgb(233, 33, 40);
    color: rgb(250, 250, 249);
}

html, body {
    height: 100%;
}

/* Body Styling */
body {
    background-color: rgb(233, 33, 40);
    line-height: 1;
    overflow: visible;
}

.overlay-background {
    background-color: rgb(250, 250, 249);
    padding: 0%;
    margin: 0%;
}


/* Navigation */
.header {
    background-color: rgb(250, 250, 249);
    color: rgb(5, 5, 5);
    padding: 20px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: rgb(134, 139, 161) 3px solid;
}

.header a {
    color: rgb(5, 5, 5);
    text-decoration: none;
}

.nav {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    list-style: none;
    gap: 10px;
}

.logo {
    align-self: flex-end;
    font-weight: 500;
    font-size: 60px;
}

.logo-symbol {
    align-self: flex-end;
    font-weight: 600;
    font-size: 21px;
    padding-top: 2px; 
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 9px;
    background: rgb(233, 33, 40);
    color: rgb(250, 250, 249);
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 450;
    padding: 5px;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 2px;
}

.nav-links a:hover {
    border-spacing: 10px;
    color: rgb(5, 5, 5);
    background-color: transparent;
    background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 47%, rgb(233, 33, 40) 50%, transparent 53%, transparent 100%);
}


/* Sections */
.section {
    width: 80%;
    margin: 50px auto;
    text-align: justify;
}

.section h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    padding: 10px 0;
}

.section a {
    padding-top: 2px; 
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(5, 5, 5);
    text-decoration: none;
}

.section a:hover {
    padding-top: 2px; 
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(26, 104, 58);
    color: rgb(244, 247, 216);
}


/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
