/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: workbench, sans-serif;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

/* Body Styling */
body {
    background-color: #1b1b1b;
    color: #ffffff;
    line-height: 1;
}

/* Content Wrapper */
.content-wrapper {
    padding-top: 7%;
    position: relative;
    z-index: 2;
    color: #e3e3e3;
}


/* Navigation */
.header {
    color: #e3e3e3;;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3%;
    z-index: 1000;
}

.header a {
    color: #e3e3e3;
    text-decoration: none;
}

.nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #e3e3e3;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
    color: red;
}


/* Sections */
.section {
    width: 80%;
    margin: 50px auto;
    text-align: justify;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    padding: 10px 0;
}

.section a {
    color: #e3e3e3;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
    color: red;
}

.project {
    padding: 10px 0;
    position: relative;
}

.project h3:hover {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}

.project-image {
    width: 100%;
    height: 10%;
    margin-top: 10px;
}

.project-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}


/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    color: #e3e3e3;
    margin-top: 40px;
}
