.projectlist {
    width: 100%;
}

.projectlist-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left right";
    grid-template-rows: auto;
    gap: 10px;
    cursor: pointer;
    animation-delay: 3.0s;
    opacity: 0;
    padding: 45px 0;
    height: 350px;
    justify-self: stretch;
}

.project {
    padding: 0 45px;
    background: #e8e8e8;
}

.project:nth-child(2n) {
    background: #f4f4f4;
}

.projectlist-items img {
    grid-area: right;
    align-self: flex-start;
    justify-self: flex-end;
    max-height: 260px;
    transition: all 0.2s linear;
    cursor: pointer;
    animation-delay: 3.2s;
    opacity: 0;
}

.project-details {
    grid-area: left;
    display: grid;
    grid-template-columns: 200px 100px 2fr;
    grid-template-areas: 
    "title cat det";
    gap: 10px;
}

.project-details-title {
    grid-area: title;
    align-self: flex-start;
    justify-self: flex-start;
    animation-delay: 3.1s;
    opacity: 0;
}

.button {
    grid-area: title;
    align-self: flex-end;
    justify-self: flex-start;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 8px;
    border-radius: 100px;
    border: 1.5px solid;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #0b0b0b;
    color: #f4f4f4;
    border: 0px solid;
}

.project-details-cat {
    grid-area: cat;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "cat1"
    "cat2"
    "cat3";
}

.project-details-det {
    grid-area: det;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "det1"
    "det2"
    "det3";
}

.project-details ul li {
    height: 86px;
}

.project-details-cat p {
    opacity: 0.75;
    font-weight: 300;
}

.project-details-cat li:nth-child(1) {
    grid-area: cat1;
}

.project-details-cat li:nth-child(2) {
    grid-area: cat2;
}
.project-details-cat li:nth-child(3) {
    grid-area: cat3;
}

.project-details-det li:nth-child(4) {
    grid-area: det1;
}

.project-details-det li:nth-child(5) {
    grid-area: det2;
}
.project-details-det li:nth-child(6) {
    grid-area: det3;
}

@media (max-width: 768px) {
    .projectlist {
        width: 100%;
    }
    .project {
        padding: 0 20px;
    }
    .projectlist-items {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "left"
        "right";
        grid-template-rows: auto auto;
        gap: 10px;
        height: auto;
    }
    .projectlist-items img {
        max-width: 100%;
    }
    .project-details {
        grid-area: left;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-areas: 
        "title"
        "det";
        grid-template-rows: auto auto;
        gap: 10px;
    }
    .project-details-cat {
        display: none;
    }
    .project-details-det {
        display: grid;
    }    
    .button {
        display: none;
    }
}