.projectlist {
    width: 100%;
}

.projectlist-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left right";
    grid-template-rows: auto;
    gap: 10px;
    cursor: pointer;
    animation-delay: 3.0s;
    opacity: 0;
    padding: 45px 0;
    height: 350px;
    justify-self: stretch;
}

.project-gallery {
    display: none;
    gap: 10px;
    width: 100%;
}

.project-gallery div {
    aspect-ratio: 1 / 1;
    align-content: center;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
}


.project:nth-child(2n) .project-gallery div {
    background-color: hsl(0, 0%, 8%);
}

.project-gallery img {
    max-width: 100%;
}

.show-more .project-gallery {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 45px;
    width: 100%;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.project {
    padding: 0 45px;
    background: #101010;
}

.project:nth-child(2n) {
    background: #0b0b0b;
}

.img-container {
    grid-area: right;
    align-self: flex-start;
    justify-self: flex-end;
}

.projectlist-items img {
    grid-area: right;
    align-self: flex-start;
    justify-self: flex-end;
    max-height: 260px;
    transition: all 0.2s linear;
    animation-delay: 3.2s;
    opacity: 0;
}

.project-details {
    grid-area: left;
    display: grid;
    grid-template-columns: 200px 100px 2fr;
    grid-template-areas: 
    "title cat det";
    gap: 10px;
}

.project-details-title {
    grid-area: title;
    align-self: flex-start;
    justify-self: flex-start;
    animation-delay: 3.1s;
    opacity: 0;
}

.project-details-title:hover {
    color: #c3c3c3;
}

.button-less {
    display: none;
}

.button-more {
    display: block;
}

.show-more .button-more {
    display: none;
}

.show-more .button-less {
    display: block;
}

.button {
    grid-area: title;
    align-self: flex-end;
    justify-self: flex-start;
    transition: all 0.2s ease-in-out;
}

.button a {
    content: 'SEE MORE';
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;   
    opacity: 0.75; 
}

.button:hover,
.button:focus {
    padding-left: 5px;
}

.button a::before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    bottom: -2px;
    width: 0%;
    background-color: #f4f4f4;
    transition: all 0.2s ease-in-out;
}

.button a:hover::before,
.button a:focus::before {
    width: 100%;
}

.project-details-cat {
    grid-area: cat;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "cat1"
    "cat2"
    "cat3";
}

.project-details-det {
    grid-area: det;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "det1"
    "det2"
    "det3";
}

.project-details ul li {
    height: 86px;
}

.project-details-cat p {
    opacity: 0.75;
    font-weight: 300;
}

.project-details-cat li:nth-child(1) {
    grid-area: cat1;
}

.project-details-cat li:nth-child(2) {
    grid-area: cat2;
}
.project-details-cat li:nth-child(3) {
    grid-area: cat3;
}

.project-details-det li:nth-child(1) {
    grid-area: det1;
}

.project-details-det li:nth-child(2) {
    grid-area: det2;
}
.project-details-det li:nth-child(3) {
    grid-area: det3;
}

@media (max-width: 768px) {
    .projectlist {
        width: 100%;
    }
    .project {
        padding: 0 20px;
    }
    .projectlist-items {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "left"
        "right";
        grid-template-rows: auto auto;
        gap: 10px;
        height: auto;
    }
    .projectlist-items img {
        max-width: 100%;
    }
    .project-details {
        grid-area: left;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-areas: 
        "title"
        "det";
        grid-template-rows: auto auto;
        gap: 10px;
        padding-bottom: 20px;
    }
    .project-details-cat {
        display: none;
    }
    .project-details-det p{
        font-weight: 300;
    }    
    .button {
        display: none;
    }
    .project-details ul li {
        height: 50px;
    }
    .project-details-det li:nth-child(1) {
        opacity: 0.75;
    }

    .project-details-det li:nth-child(2) {
        opacity: 0.75;
    }
    .project-details-det li:nth-child(3) p {
        font-weight: 400;
    }
}