h1 {
    font-family: "Inter", sans-serif;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #000;
    cursor: crosshair;
}

p {
    font-size: 100px;
}