/* ----------------------------------------------------------- */
/* GLOBAL STYLES                                               */
/* ----------------------------------------------------------- */

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overscroll-behavior: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

*::selection {
  background: #fff;
  opacity: 1;
  color: #000;
}
*::-moz-selection {
  background: #fff;
  opacity: 1;
  color: #000;
}
*::-webkit-selection {
  background: #fff;
  opacity: 1;
  color: #000;
}

body {
    color: #fff;
    background-color: #000;
    align-items: center;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
}

body::before {
  content: "";
  width: 100%;
  height: 6%;
  backdrop-filter: blur(8px);
  mask: linear-gradient(transparent, black 80%, black);
  z-index: 1000;
  position: fixed;
  bottom: 0;
} 

body::after {
  content: "";
  width: 100%;
  height: 12%;
  backdrop-filter: blur(1px);
  mask: linear-gradient(transparent, black 80%, black);
  z-index: 1000;
  position: fixed;
  bottom: 0;
} 




nav {
  width: 100%;
  position: sticky;
  top: 0;
  mix-blend-mode: difference;
}

nav .fixed {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

nav .fixed ul {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 2;
}

nav .fixed img {
  width: 100%;
  pointer-events: none;
  z-index: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

#image {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  overflow: hidden;
  display: block;
}



main {
  padding: 30px;
}

